

<div class="employee-show-div">
<img class="employee-show" src=<%= @employee.img_url %> />
<h2 class="employee-text"><%= @employee.name  %></h2>
<h2 class="employee-text"><%= @employee.alias  %></h2>
<h2 class="employee-text"><%= @employee.title  %></h2>
<h2 class="employee-text"><%= @employee.office  %></h2>

</div>